.container-fluid {
    margin-top: 0px;
}
.admin-navbar.navbar {
    padding-right: 0px;
    margin-bottom: 0px;
}
.admin-navbar ul.nav li a:hover {
    background: none;
    color: #000;
}
table.table td i {
    font-size: inherit;
    display: initial;
}
div.container-fluid.admin-pos {
    margin-top: 0px;
}
.nav-tabs .nav-tabs-right {
    float:right;
    margin-left:10px;
    margin-right:0;
}
#login-register {
    opacity: 1;
}
body {
    opacity: 1;
    margin-left: 0px;
}
.cl-sidebar .collapse-button a {
    margin: 0 !important;
    background: transparent;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.cl-sidebar .collapse-button a:hover {
    background: #23252A;
}
#head-nav.navbar {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
}
.navbar a {
    transition: color, 300ms ease-in-out;
    -webkit-transition: color, 300ms ease-in-out;
    -moz-transition: color, 300ms ease-in-out;
    -o-transition: color, 300ms ease-in-out;
}
.cl-vnavigation a {
    transition: color, 300ms ease-in-out;
    -webkit-transition: color, 300ms ease-in-out;
    -moz-transition: color, 300ms ease-in-out;
    -o-transition: color, 300ms ease-in-out;
}
.cl-vnavigation .parent a {
    background: none;
}
body.admin .navbar {
    min-height: 35px;
    margin-bottom: 0px;
}
body.admin #cl-wrapper {
    padding-top: 35px;
}
body.admin .navbar.navbar-default .navbar-brand {
    height: 35px;
    padding: 8px 15px 15px 35px;
    background: url(../images/logo.png) no-repeat 0 2px;
}
body.admin .profile_menu .dropdown-toggle {
    padding: 2px 10px 10px 10px;
    height: 35px;
}
body.admin .cl-vnavigation li a {
    padding: 14px 18px 13px 12px;
}
.cl-vnavigation .parent ul li a {
    padding: 7px 18px 7px 42px;
}
body.admin .profile-menu img {
    margin-top: -3px;
}
body.admin .profile_menu .dropdown-toggle span {
    margin-top: 6px;
}
body.admin .navbar-nav .dropdown-menu {
    margin-left: -1px;
}
body.admin .profile_menu .dropdown-menu {
    margin: 1px -1px 0 0;
}
.table-heading {
    font-weight: bold;
    background-color: #CCC;
}
@media (min-width: 768px) {
    body.admin .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}